@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@100;200;300;400;600;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
}

.container_ {
  width: 100%;
  max-width: 1441px;
  font-family: "Roboto Slab", serif;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}
.container_ .hr {
  width: 100%;
  padding-right: 61px;
}
@media (max-width: 800px) {
  .container_ .hr {
    padding-right: 0;
  }
}
.container_ .hr .div_bluegrey {
  background-color: #c7d0d8;
  width: 61px;
}
@media (max-width: 800px) {
  .container_ .hr .div_bluegrey {
    background-color: rgb(129, 129, 129);
    opacity: 0.7;
  }
}
.container_ .hr .div_grey {
  background-color: rgb(129, 129, 129);
  opacity: 0.7;
  height: 1px;
  width: 100%;
}

nav {
  padding: 21px 61px 0;
}
@media (max-width: 800px) {
  nav {
    padding: 11px 5px 0;
  }
}
nav ul {
  padding-bottom: 21px;
  padding-right: 11px;
  gap: 21px;
  display: flex;
  list-style: none;
  justify-content: right;
}
@media (max-width: 800px) {
  nav ul {
    justify-content: center;
    gap: 11px;
    flex-wrap: wrap;
  }
}
nav ul li a {
  position: relative;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
  text-align: right;
  color: #2c2d2d;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a::after {
  transition: 0.5s;
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  height: 1.5px;
  background-color: #587085;
  left: 0;
}
nav ul li a:hover {
  color: #52708b;
}

.section_1 {
  display: flex;
}
@media (max-width: 800px) {
  .section_1 {
    flex-direction: column;
  }
}

.side_bar {
  width: 35%;
  background: #c7d0d8;
  display: flex;
}
@media (max-width: 1000px) {
  .side_bar {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .side_bar {
    width: 100%;
  }
}
.side_bar .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 61px;
}
.side_bar .avatar img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar {
  width: 35%;
  background: #c7d0d8;
}
@media (max-width: 1000px) {
  .sidebar {
    width: 45%;
  }
}
@media (max-width: 800px) {
  .sidebar {
    width: 100%;
  }
}

.right_side {
  width: 65%;
  padding-right: 61px;
}
@media (max-width: 1000px) {
  .right_side {
    width: 55%;
  }
}
@media (max-width: 800px) {
  .right_side {
    padding-right: 0;
    width: 100%;
  }
}
.right_side .last_name h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 91px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 51px 0 0 51px;
  text-transform: uppercase;
  color: #2c2d2d;
}
@media (max-width: 1200px) {
  .right_side .last_name h1 {
    padding-top: 31px;
  }
}
@media (max-width: 1000px) {
  .right_side .last_name h1 {
    font-size: 71px;
  }
}
@media (max-width: 800px) {
  .right_side .last_name h1 {
    text-align: center;
    padding: 0 0 0;
    padding-top: 31px;
  }
}
@media (max-width: 500px) {
  .right_side .last_name h1 {
    font-size: 51px;
  }
}
.right_side .last_name p {
  padding-left: 51px;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: grey;
  font-size: 21px;
}
@media (max-width: 1200px) {
  .right_side .last_name p {
    padding-bottom: 31px;
  }
}
@media (max-width: 800px) {
  .right_side .last_name p {
    text-align: center;
    padding: 0 0;
    padding-bottom: 31px;
  }
}

.section_2 {
  display: flex;
}
@media (max-width: 800px) {
  .section_2 {
    flex-direction: column;
  }
}
.section_2 .text_content {
  padding: 1vw 1vw 3vw 5vw;
}
@media (max-width: 800px) {
  .section_2 .text_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section_2 .text_content h2,
.section_2 .text_content p {
    text-align: center;
  }
}
.section_2 .text_content h1 {
  margin: 41px 0 21px;
  padding: 1px 11px;
  letter-spacing: 2.1px;
  background-color: rgb(247, 247, 247);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 11px;
  font-size: 33px;
  text-transform: uppercase;
  color: #2c2d2d;
}
.section_2 .text_content h2 {
  padding: 11px 0 11px 11px;
  color: #2c2d2d;
  letter-spacing: 0.5px;
}
.section_2 .text_content p {
  padding: 1px 11px;
  font-size: 21px;
  color: rgb(95, 93, 93);
}
.section_2 .text_content ul {
  list-style-type: square;
  margin-left: 27px;
}
.section_2 .text_content ul li .progress {
  margin: 3px 0 11px 11px;
  overflow: hidden;
  width: 201px;
  height: 7px;
  border-radius: 11px;
  background-color: rgb(245, 237, 237);
}
.section_2 .text_content ul li .progress .back {
  background-color: #2c2d2d;
  height: 100%;
}
.section_2 .content_about {
  width: 65%;
  padding-top: 1vw;
}
@media (max-width: 1000px) {
  .section_2 .content_about {
    width: 55%;
  }
}
@media (max-width: 800px) {
  .section_2 .content_about {
    width: 100%;
  }
}
.section_2 .content_about .about_myself h1 {
  margin: 41px;
  margin-bottom: 31px;
  padding: 1px 11px;
  letter-spacing: 2.1px;
  background-color: #c7d0d8;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 11px;
  font-size: 33px;
  text-transform: uppercase;
  color: #2c2d2d;
}
@media (max-width: 800px) {
  .section_2 .content_about .about_myself h1 {
    margin: 41px auto;
  }
}
@media (max-width: 500px) {
  .section_2 .content_about .about_myself h1 {
    font-size: 25px;
  }
}
.section_2 .content_about .about_myself p {
  padding: 0 81px 0 51px;
  font-size: 19px;
}
@media (max-width: 800px) {
  .section_2 .content_about .about_myself p {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .section_2 .content_about .about_myself p {
    padding: 0 11px;
  }
}
.section_2 .content_about .projects {
  display: flex;
  gap: 31px;
  justify-content: space-between;
  padding: 31px 71px 71px 51px;
  flex-wrap: wrap;
}
@media (max-width: 1241px) {
  .section_2 .content_about .projects {
    padding: 21px;
    gap: 11px;
  }
}
@media (max-width: 1051px) {
  .section_2 .content_about .projects {
    justify-content: space-evenly;
  }
}
.section_2 .content_about .projects .card .card_image {
  border: 1px solid rgba(44, 45, 45, 0.2784313725);
  border-radius: 11px;
  overflow: hidden;
  width: 201px;
  height: 301px;
  position: relative;
  overflow: hidden;
}
.section_2 .content_about .projects .card .card_image:hover .blur {
  top: 150px;
}
.section_2 .content_about .projects .card .card_image .blur {
  transition: 0.7s;
  position: absolute;
  height: 100%;
  top: 301px;
  left: 0;
  right: 0;
  background-color: rgba(44, 45, 45, 0.8117647059);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.section_2 .content_about .projects .card .card_image p {
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 13px;
  letter-spacing: 0.3px;
}
.section_2 .content_about .projects .card .card_image i {
  padding-top: 13px;
  font-size: 13px;
  display: block;
  color: white;
  text-align: center;
  justify-items: center;
}
.section_2 .content_about .projects .card .card_image img {
  width: 201px;
  height: 301px;
}

.fhr {
  padding: 5px 71px 11px 71px;
}
@media (max-width: 500px) {
  .fhr {
    padding: 5px 0;
  }
}

footer {
  height: 51px;
  padding: 5px 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  footer {
    height: auto;
  }
}
@media (max-width: 800px) {
  footer {
    flex-direction: column;
    gap: 21px;
  }
}
@media (max-width: 500px) {
  footer {
    padding: 5px 5px;
  }
}
footer p {
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: underline;
  font-size: 19px;
  letter-spacing: 0.1px;
  width: 253px;
  text-overflow: inherit;
  text-justify: distribute;
  flex-wrap: nowrap;
}
@media (max-width: 800px) {
  footer p {
    text-align: center;
  }
}
footer ul {
  list-style: none;
  display: flex;
  -moz-column-gap: 31px;
       column-gap: 31px;
  flex-wrap: wrap;
  justify-items: baseline;
  justify-content: flex-end;
}
@media (max-width: 800px) {
  footer ul {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  footer ul li:nth-child(2) {
    display: none;
  }
}
footer ul li a {
  height: 33px;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  text-decoration: none;
  color: #2c2d2d;
  transition: 0.3s;
}
footer ul li a:hover i {
  color: #52799b;
}
footer ul li a span {
  display: flex;
  line-height: 31px;
}
footer ul li a i {
  font-size: 19px;
  transition: 0.3s;
}
footer ul li a .logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 71px;
  justify-content: center;
  transition: 0.5s;
}
footer ul li a .logo:hover {
  background-color: #f7ce3f;
}
footer ul li a img {
  width: 61px;
}/*# sourceMappingURL=Style.css.map */